<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar mode="md" placeholder="Rechercher une favoris" (ionInput)="searchInList($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-label>
      <p>Liste des favoris</p>
    </ion-label>

  <ion-item-sliding *ngFor="let favorite of searchedItem">
    <ion-item class="no-padding" [routerLink]="['/tabs/detail-offer/', favorite.postId]">
      <ion-avatar slot="start">
        <img src="./assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>{{ favorite.poste }}</h2>
        <h3>{{ favorite.entreprise }}</h3>
        <p>{{ favorite.adresse }}</p>
      </ion-label>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option color="danger">
        <!--
        <ion-icon *ngIf="!post.liked" (click)="addLike(post)" slot="end" name="thumbs-up"></ion-icon>
        <ion-icon *ngIf="post.liked" (click)="removeLike(post)" slot="end" color="primary" name="thumbs-up"></ion-icon>
        -->
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>  
  </ion-item-sliding>
</ion-list>
  
</ion-content>
