<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="offer">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Recherche</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="application">
      <ion-icon name="file-tray-stacked-outline"></ion-icon>
      <ion-label>Candidatures</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorite">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="photo">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Photo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
