<ion-header >
  <ion-item color="primary">
   <ion-icon slot="start" name="backspace" (click)="goToTab1()"></ion-icon>
  </ion-item>
</ion-header>

<ion-content>

 <ion-item>
   <ion-label>
     <p>Méthode de connexion</p>
     <h2><b>email and {{ method }}</b></h2>
   </ion-label>
 </ion-item>
 
 <ion-item>
   <ion-label>
     <p>Identifiant</p>
     <h2><b>{{ userId }}</b></h2>
   </ion-label>
 </ion-item>
 
 <ion-item>
   <ion-label>
     <p>Adresse email</p>
     <h2><b>{{ email }}</b></h2>
   </ion-label>
 </ion-item>
 <section>
   <!-- <ion-button expand="full" color="primary" (click)="goToTab1()">Consulter nos offres</ion-button> -->
   <!-- <ion-button expand="full" color="primary" (click)="goToTab1()">Consulter nos offres</ion-button> -->
   <ion-button expand="block" color="danger" (click)="logout()">Déconnexion</ion-button>
   
 </section>
</ion-content>